body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e68c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #333;
}

.container {
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.left-section {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.souvlaki-representation {
    cursor: pointer;
}

#souvlakiImage {
    width: 2000px; /* Increased size */
}

h2 {
    font-size: 24px;
}

.right-section {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.upgrade-section {
    margin: 20px 0;
}

.scrollable {
    max-height: 200px;
    overflow-y: auto;
    border: 2px solid #ff6347;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.upgrade-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

.upgrade-button.tomato {
    background-color: #ff6347; /* Tomato color */
}

.upgrade-button.tzatziki {
    background-color: #5cb85c; /* Tzatziki color */
}

.upgrade-button.cucumber {
    background-color: #77b300; /* Cucumber color */
}

.upgrade-button.garlic {
    background-color: #d1c1b2; /* Garlic color */
}

.upgrade-button.plate {
    background-color: #f0ad4e; /* Plate color */
}

.upgrade-button.wrap {
    background-color: #b10dcf; /* Wrap color */
}

.upgrade-button.pepper {
    background-color: #ff851b; /* Pepper color */
}

.upgrade-button.salt {
    background-color: #f8f9fa; /* Salt color */
}

.upgrade-button.lemon {
    background-color: #ffcc00; /* Lemon color */
}

.upgrade-button.ultimate {
    background-color: #007bff; /* Ultimate color */
}

.ad-button {
    background-color: #28a745; /* Green for ad button */
}

.ad-button:hover {
    background-color: #218838; /* Darker green */
}

.upgrade-button:hover {
    opacity: 0.9;
}

.upgrade-button:disabled {
    background-color: #777;
    cursor: not-allowed;
}

.upgrade-button.purchased {
    background-color: #777;
    cursor: not-allowed;
}
